footer {
    text-align: center;
    background: url(https://github.com/dgouvvea/Img/blob/main/A/bg.jpg?raw=true);
    padding: 20px;
    color: white;
}

.body{
    background-color: rgb(60,60,86);
    color: rgb(200, 220, 230);
}
.imagem{
    width: 80%;
    max-width: 120px;
    margin: 0 auto;
}
.principal{
    background-color: rgb(60,60,86);
    color: rgb(200, 220, 230);
    text-align: center
}
.beneficios{
    background-color: rgb(60,60,86);
  color: rgb(240,170,170);
}
